.register {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 396px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 568px) {
  .register {
    width: calc(100% - 2 * 30px);
    align-items: center;
  }
}

.register__link-logo {
  width: 38px;
  height: 38px;
  margin-top: 70px;
}

@media screen and (max-width: 1024px) {
  .register__link-logo {
    margin-top: 232px;
  }
}

@media screen and (max-width: 568px) {
  .register__link-logo {
    margin-top: 56px;
  }
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__title {
  color: #000;
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 568px) {
  .register__title {
    margin: 50px 0 80px;
  }
}

.register__input-name {
  color: #A0A0A0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 10px;
}

.register__input {
  width: 396px;
  height: 46px;
  background-color: #F9F9F9;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: none;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0em;
  text-align: left;
}

.register__input:focus::placeholder {
  color: transparent;
}

@media screen and (max-width: 568px) {
  .register__input {
    width: 260px;
  }
}

.register__input:focus {
  outline: none;
  font-weight: 500;
}

.register__input_type_error {
  color: #FF4062;
  margin-bottom: 10px;
}

.register__error-message {
  width: 396px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: #FF4062;
  margin-bottom: 10px;
}

@media screen and (max-width: 568px) {
  .register__error-message {
    width: 260px;
  }
}

.register__error {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: center;
  color: #FF004C;
  margin-top: 40px;
}

@media screen and (max-width: 568px) {
  .register__error {
    width: 260px;
    margin-top: 130px;
  }
}

.register__submit-button {
  width: 396px;
  height: 45px;
  padding: 13px 126px 15px 124px;
  background: #000000;
  border-radius: 3px;
  color: #FFF;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
  margin: 20px 0 16px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.register__submit-button:hover {
  opacity: 0.8;
}


@media screen and (max-width: 568px) {
  .register__submit-button {
    width: 260px;
    padding: 15px 68px 15px 67px;
    margin: 20px 0 14px;
  }
}

.register__submit-button_type_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: auto;
}

.register__submit-button_type_disabled:hover {
  opacity: 1;
}

.register__subtitles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.register__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 568px) {
  .register__subtitle {
    font-size: 12px;
  }
}

.register__subtitle_type_name {
  color: #A0A0A0;
  margin: 0 6px 0 0;
}

.register__subtitle_type_link {
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.register__subtitle_type_link:hover {
  opacity: 0.7;
}
