.footer {
  font-family: 'Inter', Arial, sans-serif;
  width: calc(100% - 2 * 70px);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 2 * 30px);
  }
}

@media screen and (max-width: 568px) {
  .footer {
    width: calc(100% - 2 * 10px);
  }
}

.footer__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0px;
  text-align: center;
  color: #A0A0A0;
  padding: 79px 0 20px;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .footer__text {
    font-size: 12px;
    line-height: 1.21;
    padding-bottom: 21px;
  }
}

.footer__line {
  display: block;
  border-top: 1px solid #E8E8E8;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

@media screen and (max-width: 568px) {
  .footer__menu {
    padding-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer__date {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0px;
  text-align: left;
  color: #000;  
  margin: 0;
}

@media screen and (max-width: 568px) {
  .footer__date {
    font-size: 12px;
    line-height: 1.21;
    color: #A0A0A0;
    margin-top: 30px;
  }
}

.footer__links-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .footer__links-list {
    flex-direction: column;
    align-items: center;
  }
}

.footer__link-list:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 568px) {
  .footer__link-list:first-child {
    margin: 0 0 12px;
  }
}

.footer__link {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0px;
  text-align: right;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 568px) {
  .footer__link {
    font-size: 12px;
    line-height: 1.21;
  }
}