.login {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 396px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 568px) {
  .login {
    width: calc(100% - 2 * 30px);
    align-items: center;
  }
}

.login__link-logo {
  width: 38px;
  height: 38px;
  margin-top: 70px;
}

@media screen and (max-width: 1024px) {
  .login__link-logo {
    margin-top: 232px;
  }
}

@media screen and (max-width: 568px) {
  .login__link-logo {
    margin-top: 56px;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__title {
  color: #000;
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 568px) {
  .login__title {
    margin: 50px 0 80px;
  }
}

.login__input-name {
  color: #A0A0A0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 10px;
}

.login__input {
  width: 396px;
  height: 46px;
  background-color: #F9F9F9;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: none;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 568px) {
  .login__input {
    width: 260px;
  }
}

.login__input:focus {
  outline: none;
  font-weight: 500;
}

.login__input:focus::placeholder {
  color: transparent;
}

.login__submit-button {
  width: 396px;
  height: 45px;
  padding: 13px 178px 15px 176px;
  background: #000000;
  border-radius: 3px;
  color: #FFF;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
  margin: 179px 0 16px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 568px) {
  .login__submit-button {
    width: 260px;
    padding: 15px 113px 15px 111px;
    margin: 267px 0 14px;
  }
}

.login__subtitles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 568px) {
  .login__subtitle {
    font-size: 12px;
  }
}

.login__subtitle_type_name {
  color: #A0A0A0;
  margin: 0 6px 0 0;
}

.login__subtitle_type_link {
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login__subtitle_type_link:hover {
  opacity: 0.7;
}